<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings> <!--The working Database Configuration -->
    <add name="DictionaryDbConnectionString"
    connectionString="Data Source=.;Initial Catalog=DictionaryDb;Integrated Security=true"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <log4net>  <!--Log4net logger configuration-->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="Log/log-file.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
</log4net>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- При развертывании проекта библиотеки службы содержимое файла конфигурации необходимо добавить в файл 
  app.config компьютера размещения. Пространство имен System.Configuration не поддерживает файлы конфигурации для библиотек. -->
  <system.serviceModel>
    <services>
      <service name="TranslatorService.TranslateService">
        <endpoint address="" binding="basicHttpBinding" contract="TranslatorService.ITranslateService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/TranslatorService/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, 
          до развертывания задайте следующему параметру значение "false". -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, 
          установите значение true для приведенного ниже параметра.  Перед развертыванием установите значение false, 
          чтобы избежать раскрытия сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>