<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITranslateService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/TranslatorService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITranslateService"
                contract="TranslatorServiceReference.ITranslateService" name="BasicHttpBinding_ITranslateService" />
        </client>
    </system.serviceModel>

  <log4net>
    <!--Log4net logger configuration-->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="Log/log-file.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

</configuration>